.popup__input {
    font-size: 14px;
    line-height: 1.2;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 13.2px 0 13.2px 5px;
    width: 100%;
    margin-bottom: 30px;
    
}
.popup__input:last-of-type {
    margin-bottom: 0;
}
.popup__input::placeholder {
    color: #000000;
}
.popup__input[type='text']:focus {
    outline: 3px solid #6596F9;
}