.place__like-button {
    background: none;
    background-image: url('../../../images/like-button.svg');
    object-fit: contain;
    width: 21px;
    height: 18px;
    margin-right: 22px;
    border: none;
    box-shadow: none;
    outline: none;
    transition: 0.3s;
}
.place__like-button:hover {
    transform: scale(1.3);
    cursor: pointer;
}
