.profile__edit-button-icon {
    max-width: 10px;
    width: 100%;
    object-fit: contain;

}
@media screen and (max-width: 750px) {
    .profile__edit-button-icon {
        max-width: 7.5px;
    }
}